#root {
    display: flex;
    width: 100%;
}

.onboarding-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@keyframes onAutoFillStart {
    from {/**/}
    to {/**/}
  }
  
  input:-webkit-autofill {
    animation-name: onAutoFillStart;
    animation-fill-mode: both;
  }