@import url("../node_modules/@geoapify/geocoder-autocomplete/styles/round-borders-dark.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #000000;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.material-symbols-outlined {
	font-variation-settings:
		"FILL" 0,
		"wght" 400,
		"GRAD" 0,
		"opsz" 18;
}

a {
	font-weight: 500;
}
a:hover {
	color: #66DE88;
}

.css-r0qquw:focus-visible {
	outline: 2px solid #16a34a;
}

.css-3cousd:focus-visible {
	outline: 1px solid #16a34a;
	border-color: #16a34a;
}

body {
	margin: 0;
	padding: 12px;
	display: flex;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.css-1a7v5ig {
	border-radius: 100px;
	border: none;
}

.css-1a7v5ig[data-current] {
	background-color: #344C38; /*secondary container*/
	color: #66DE88; /*primary*/
}

.css-1a7v5ig[data-incomplete] {
	background-color: rgba(205, 234, 206, 0.04); /*secondary container*/
	color: rgba(205, 234, 206, 0.4); /*on secondary container*/
}

.css-1a7v5ig[data-complete] {
	background-color: #66DE88; /*primary*/
}

.css-et5dtk .css-0 .css-g5uffv {
	font-size: small;
}

.css-et5dtk[data-current] .css-0 .css-ggk2e6 {
	color: #66DE88; /*primary*/
	font-weight: bold;
}

.css-et5dtk[data-current] .css-0 .css-g5uffv {
	color: rgba(226, 227, 222, 0.8); /*on surface*/
}

.css-et5dtk[data-incomplete] .css-0 .css-ggk2e6 {
	color: rgba(178, 206, 179, 0.8); /*secondary*/
}

.css-et5dtk[data-incomplete] .css-0 .css-g5uffv {
	color: rgba(226, 227, 222, 0.4); /*on surface*/
}

.css-et5dtk[data-complete] .css-0 .css-ggk2e6 {
	color: #e2e3de /*on surface*/;
	font-weight: bold;
}

.css-jov7l4 {
	background-color: #344C38; /*secondary container*/
}

.css-jov7l4[data-incomplete] {
	background-color: rgba(205, 234, 206, 0.04);
}

.css-jov7l4[data-complete] {
	background-color: #66DE88;
}

.geocoder-container {
	width: 100%;
}

.geoapify-autocomplete-input {
	width: 100%;
	border-radius: 4px;
}

.geoapify-autocomplete-input:focus-visible {
	outline: 1px solid #16a34a;
	border-color: #16a34a;
}

.geoapify-close-button {
	z-index: 99;
	background-color: #000000;
	height: 90%;
	margin-top: 2px;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #006d34;
	}

	.css-1a7v5ig {
		border-radius: 100px;
	}

	.css-1a7v5ig[data-current] {
		background-color: #cdeace;
		color: #006d34; /*primary*/
		border: none;
	}
	.css-1a7v5ig[data-incomplete] {
		background-color: rgba(52, 76, 56, 0.04);
		color: rgba(52, 76, 56, 0.4);
		border: none;
	}

	.css-1a7v5ig[data-complete] {
		background-color: rgba(0, 109, 52, 1); /*primary*/
		border: none;
	}

	.css-et5dtk .css-0 .css-g5uffv {
		font-size: small;
	}

	.css-et5dtk[data-current] .css-0 .css-ggk2e6 {
		color: #006d34; /*primary*/
		font-weight: bold;
	}

	.css-et5dtk[data-current] .css-0 .css-g5uffv {
		color: rgba(25, 28, 25, 0.8); /*on surface*/
	}

	.css-et5dtk[data-incomplete] .css-0 .css-ggk2e6 {
		color: rgba(75, 100, 79, 0.8);
	}

	.css-et5dtk[data-incomplete] .css-0 .css-g5uffv {
		color: rgba(25, 28, 25, 0.4); /*on surface*/
	}

	.css-et5dtk[data-complete] .css-0 .css-ggk2e6 {
		color: #191c19 /*on surface*/;
		font-weight: bold;
	}

	.css-jov7l4 {
		background-color: #cdeace;
	}

	.css-jov7l4[data-incomplete] {
		background-color: rgba(52, 76, 56, 0.04);
	}

	.css-jov7l4[data-complete] {
		background-color: #006d34;
	}

	.geoapify-autocomplete-input {
		border: 1px solid #e4e4e7;
	}

	.geoapify-autocomplete-items {
		position: absolute;
		top: calc(100% + 2px);
		left: 0;
		right: 0;

		background-color: #fff;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		overflow: hidden;
		color: rgba(0, 0, 0, 0.8);
		box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
		z-index: 99;
	}

	.geoapify-autocomplete-items div {
		padding: 10px;
		cursor: pointer;
	}

	.geoapify-autocomplete-items div:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}

	.geoapify-autocomplete-items .active {
		background-color: rgba(0, 0, 0, 0.1);
	}

	.geoapify-autocomplete-item {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.geoapify-autocomplete-item .icon {
		display: inline-block;
		width: 40px;
		height: 24px;
		color: #aaa;
	}

	.geoapify-autocomplete-item .icon.emoji {
		color: unset;
		font-size: 20px;
		opacity: 0.9;
	}

	.geoapify-close-button {
		position: absolute;
		top: 0;
		background-color: #ffffff;
		display: none;
		align-items: center;
	}

	.geoapify-close-button.visible {
		display: flex;
	}

	.geoapify-close-button {
		color: rgba(0, 0, 0, 0.4);
		cursor: pointer;
	}

	.geoapify-close-button:hover {
		color: rgba(0, 0, 0, 0.6);
	}

	.geoapify-autocomplete-items .main-part .non-verified {
		color: #ff4848;
	}

	.geoapify-autocomplete-items .secondary-part {
		margin-left: 10px;
		font-size: small;
		color: rgba(0, 0, 0, 0.6);
	}
}
