:root {
	font-family: "Inter", sans-serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #000000;
}

body {
	margin: 0;
	display: flex;
}

.auth-layout {
	background-color: #000000;
	background-image: linear-gradient(
			30deg,
			rgba(22, 163, 74, 0.2) 1px,
			transparent 1px
		),
		linear-gradient(30deg, rgba(22, 163, 74, 0.2) 1px, #000000 1px);
	background-size: 10px 10px;
}

a.active {
	background-color: rgba(102, 222, 136, 0.05);
	border-bottom: 1px solid;
	border-color: #66de88;
	border-radius: none;
	color: #66de88;
	box-sizing: content-box;
}

.banner-background {
	background-color: rgba(102, 222, 136, 0.05);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%66de88' fill-opacity='0.5' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}

	.auth-layout {
		background-color: #ffffff;
		background-image: linear-gradient(
				30deg,
				rgba(0, 109, 52, 0.2) 1px,
				transparent 1px
			),
			linear-gradient(30deg, rgba(0, 109, 52, 0.2) 1px, #ffffff 1px);
		background-size: 10px 10px;
	}

	a.active {
		background-color: rgba(0, 109, 52, 0.05);
		border-bottom: 1px solid;
		border-color: #006d34;
		color: #006d34;
	}

	.banner-background {
		background-color: rgba(0, 109, 52, 0.05);
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%66de88' fill-opacity='0.05' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	}
}

@media screen and (max-width: 47.9975rem) {
	a.active {
		box-sizing: border-box;
		border-bottom: none;
		border-right: 1px solid;
	}
}
